.app-header {
  @extend .navbar;
  @include make-container();

  box-shadow: inset 0 rem(-1px) 0 $gray-300;
  height: $app-header-height;
  justify-content: space-between;
  padding-left: rem(32px);
  padding-right: rem(32px);

  &__brand {
    @extend .navbar-brand;

    margin-right: 0;
    padding: 0;
  }

  &__logo {
    height: rem(40px);
  }
}
