$form-border-color: rgba(0, 0, 0, .125);

.form-auth {
  background-color: $white;
  border: rem(1px) solid $form-border-color;
  border-radius: rem(4px);
  padding: rem(24px);

  &__footer {
    font-size: map-get($font-size, 'sm');
    margin-top: rem(16px);
  }

  .btn {
    width: 100%;
  }
}
