$form-border-color: rgba(0, 0, 0, 0.125);

.form-auth {
  padding: rem(24px);
  border: rem(1px) solid $form-border-color;
  border-radius: rem(4px);
  background-color: $white;

  &__footer {
    margin-top: rem(16px);
    font-size: map-get($font-size, 'sm');
  }

  .btn {
    width: 100%;
  }
}
