/* stylelint-disable selector-no-qualifying-type */
body.registration,
body.session {
  .app-header {
    justify-content: center;
  }

  .app-main {
    background-color: $gray-100;

    &__container {
      max-width: rem(330px);
    }
  }
}
/* stylelint-enable selector-no-qualifying-type */
